@import "tailwindcss";

:root {
  --background: #181818;
  --background-second: #2b2b2b;
  --background-third: #444546;
  --foreground: #ffffff;
  --trigger: #00aaff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

.my-quill .ql-container {
  @apply w-full pb-12 !text-[1.6rem] text-text bg-bg-second !rounded-lg !border !border-bg-third my-2;
}

.my-quill:focus-within .ql-container {
  @apply !border-text;
}

.my-quill .ql-editor {
  @apply text-text font-poppins bg-bg-second border-none h-[175px] sm:h-[300px] overflow-hidden;
}

.my-quill .ql-blank::before {
  @apply !text-text !opacity-50;
}

.my-quill .ql-toolbar {
  @apply bg-bg border !border-bg-third !rounded-xl mb-2 flex justify-center;
}

html.swal2-shown .site-header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

html.swal2-shown body {
  padding-top: 7.8rem;
}

@theme inline {
  --color-bg: var(--background);
  --color-bg-second: var(--background-second);
  --color-bg-third: var(--background-third);
  --color-text: var(--foreground);
  --color-main: var(--trigger);

  --font-poppins: "Poppins", sans-serif;

  --animate-swing: swing 0.5s linear infinite;

  @keyframes swing {
    0%    { transform: rotate(0deg); }
    25%   { transform: rotate(8deg); }
    75%   { transform: rotate(-8deg); }
    100%  { transform: rotate(0deg); }
  }
}